<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/travel.ico">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>
<body background="img/Fondo.jpg">
    <header>

    
        <div class="menu-inicio">
            <h1>Turismo Viajes</h1>
              
                  <ul>
                      <li><a href="viajes.html">Viajes</a></li>
                      <li><a href="nosotros.html">Nosotros</a></li>
                      <li><a href="recomendaciones.html">Recomendaciones</a></li>
                      <li><a href="contacto.html">Contacto</a></li>
                  </ul>
              
            </div>
    </header>  
    <main>
        
    <h2 class="contactoh2" >Contactanos por medio del siguiente formulario:</h2>
    <h3 class="contactoh3">Tenes alguna duda? Contactanos y recibiras asesoramiento de nuestros vendedores.</h3>
    

    <div class="formulario">
        <form id="formulariocontacto" action="#">
            
            <div  class="ingreso-datos">
                <label for="email" class="">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control"  >
                <br>
                <label for="email" class="">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control" >
                <br>
                    <label for="email" class="">Email</label>
                    <input type="text" id="email" name="email" class="form-control" >
                <br>
                    <label for="email" class="">Telefono</label>
                    <input type="text" id="telefono" name="telefono" class="form-control" >
            </div>
            <br>
                <button class="btn btn-primary" type="submit">Enviar</button>
                <button class="btn btn-danger" type="reset">Resetear formulario</button>
        </form>      
    </div>   
    <br>  
    
</section>
    </main>
    <footer>
    <h4 style="color: darkblue;">Horarios de Atencion: 8hrs a 17hrs</h4> &nbsp;
    <h4 style="color: blue;">Telefono: 011 456 45556</h4> &nbsp;
    <h4 style="color: blue;">contact@turismoviajes.com</h4>
    </footer>
</body>
<script src="js/validacion.js"></script>   
</html>