<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="stylesheet" href="css/estiloinicio.css">
    <link rel="icon" type="image/x-icon" href="img/travel.ico">
    <title>Agencia de Viajes</title>
</head>
<body>
<header>
    <nav>
        
        <h1 class="entrada">BIENVENIDO A TURISMO VIAJES</h1> 
       
    </nav>
    <main class="inicio">
        <button class="button" onclick="window.location.href='viajes.html';"><span>Inicie su viaje! </span></button>
        
    </main>
</header>
</body>
</html>