<!DOCTYPE html>
<html>
  <head>
    <title>Turismo Viajes - Descubre lo mejor de Argentina y el mundo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/boton.css">
    
  </head>
  <body>
    
    <header>
      <body background="img/Fondo.jpg">
        <div class="menu-inicio">
          <h1>Turismo Viajes</h1>
                <ul>
                    <li><a href="viajes.html">Viajes</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="recomendaciones.html">Recomendaciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
          </div>
      </header> 
    <main>
    <div class="presentacion">
      <h2>Descubre lo mejor de Argentina y el mundo con Turismo Viajes</h2>
      
        <li>Paquetes turísticos nacionales en Argentina</li>
        <li>Paquetes turísticos internacionales a destinos como Europa, Asia y África</li>
        <li>Servicios de traslado, alojamiento y visitas guiadas</li>
        <li>Actividades exclusivas en destinos selectos</li>
      
    </div>
    
    <div class="quienes-somos">
      <h2>Quiénes somos</h2>
      <h3>En Turismo Viajes contamos con un equipo de expertos en turismo, liderados por nuestra fundadora Laura Torres. Ofrecemos un servicio personalizado y de alta calidad para hacer de tus viajes una experiencia única e inolvidable.</h3>
      <h3>Nos podes encontrar en:</h3>
      <div class="ubicacion">
        <h4>Urugay esquina Paraguay, CABA</h4>
        <iframe class="iframe" src="https://maps.google.com/?ll=-34.59827997822874,-58.38694763872986&z=14&t=m&output=embed" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <br>
      <a href="contacto.html" class="boton-estilo3">¡Contáctanos!</a>
      <p id="demo"></p>
    </div>
    
    
    
    
      </section>
    </main>
    <br>
    <br>
    <footer>
      <footer id="footer">
        <h4 style="color: darkblue;">Horarios de Atencion: 8hrs a 17hrs</h4> &nbsp;
        <h4 style="color: blue;">Telefono: 011 456 45556</h4> &nbsp;
        <h4 style="color: blue;">contact@turismoviajes.com</h4>
     </footer> 
    </footer>
  </body>
  <script src="js/tiempo.js"></script>   
</html>
