<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/travel.ico">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css">
    <style>
        .contorno-p {
          font-size: 16px;
          font-weight: bold;
          color: white;
          text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
        }
      </style>
    <title>Recomendaciones</title>
</head>

<body background="img/Fondo.jpg">
    <header>

    
    <div class="menu-inicio">
        <h1>Turismo Viajes</h1>
          
              <ul>
                  <li><a href="viajes.html">Viajes</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="recomendaciones.html">Recomendaciones</a></li>
                  <li><a href="contacto.html">Contacto</a></li>
              </ul>
          
        </div>
</header>    
    <main id="principal">
        <section class="title">Conoce qué piensan nuestros clientes</section>
        <section class="recomendaciones">
            
            <article class="recomendacion"> 
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/pedroandrada.jpg">        
                      </section> 
                        <h2>Pedro Andrada</h2>
                        <p class="contorno-p">Lo que distingue a TURISMO VIAJES es su enfoque integral y detallado en la planificación 
                          de paquetes turísticos. Ya sea que estén buscando unas vacaciones relajantes en la playa o una aventura llena de adrenalina en la montaña 
                           TURISMO VIAJES sabe cómo crear experiencias únicas y memorables. Durante años, he tenido el placer de trabajar con ellos y puedo dar fe de 
                           su excelencia en el sector.</p>
                    
                    
                </figure>
            </article>
            <article class="recomendacion" >
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/lauragomez.png">        
                      </section> 
                    <div class="contenido">
                        <h2>Laura Gomez</h2>
                        <p class="contorno-p">No puedo dejar de mencionar la pasión de TURISMO VIAJES por la sostenibilidad y 
                           la responsabilidad social. La empresa se compromete activamente a minimizar el impacto 
                           ambiental de sus actividades y promueve el turismo responsable. Trabajar con 
                           TURISMO VIAJES no solo garantiza una experiencia de viaje excepcional, sino que 
                           también contribuye a preservar los destinos turísticos.</p></div>
                           
                </figure>
            </article>
            
            <article class="recomendacion">
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/pedrogonzalez.jpg">        
                      </section> 
                    <div class="contenido">
                        <h2>Pedro Gonzalez</h2>
                        <p class="contorno-p">Recomendaría encarecidamente la página web de TURISMO VIAJES a cualquier persona que 
                           esté buscando una agencia de viajes confiable y profesional. Su dedicación a la excelencia,
                           combinada con su enfoque personalizado y su compromiso con la sostenibilidad, los convierte
                           en una opción sobresaliente en el mercado de los paquetes turísticos.</p>
                    </div>
                   
                </figure>
            </article>
            
            <article class="recomendacion">
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/mariaschulls.png">        
                      </section>
                    <div class="contenido">
                        <h2>Maria Schulls</h2>
                        <p class="contorno-p">Me complace escribir esta carta de recomendación para la página web de TURISMO VIAJES, una 
                           empresa destacada en la industria de los paquetes turísticos. Durante muchos años, he tenido
                           el placer de trabajar con ellos y puedo dar fe de su excelencia en el sector.
                           TURISMO VIAJES ha demostrado un compromiso excepcional con la satisfacción del cliente. 
                           </p>
                    </div>
                    
                </figure>
            </article>
            
            <article class="recomendacion">
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/jorgenegredo.jpg">        
                      </section>
                    <div class="contenido">
                        <h2>Jorge Negredo</h2>
                        <p class="contorno-p">La atención al cliente de TURISMO VIAJES es impecable. Su personal es amable,
                            atento y siempre está dispuesto a brindar asistencia en cada etapa del proceso de viaje. Desde la 
                            elección del destino hasta la reserva de alojamiento y la coordinación de actividades, su equipo se
                            asegura de que los clientes se sientan respaldados y seguros en todo momento.</p>
                            
                    </div>
                    
                </figure>
            </article>
            
            <article class="recomendacion">
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/juanmontenegro.jpg">        
                      </section> 
                    <div class="contenido">
                        <h2>Juan Montenegro</h2>
                        <p class="contorno-p">TURISMO VIAJES es una empresa dedicada a la creación de experiencias
                            turísticas memorables, que se destaca por su compromiso con la excelencia, la atención personalizada
                            y la satisfacción del cliente. Ya sea que estés buscando unas vacaciones llenas de aventuras o un 
                            retiro tranquilo en un entorno paradisíaco, Turismo Viajes es tu socio confiable para convertir tus 
                            sueños de viaje en realidad.</p>
                    </div>
                </figure>
            </article>
            <article class="recomendacion">
                <figure class="foto">
                    <section class="carrusel">
                        <img src="img/Recomendaciones/robertoperez.jpg">        
                      </section> 
                    <div class="contenido">
                        <h2>Roberto Perez</h2>
                        <p class="contorno-p">Si estás buscando una empresa de viajes que te brinde una experiencia inolvidable, te recomiendo encarecidamente que consideres a TURISMO VIAJES. Esta empresa ha estado en el mercado durante muchos años y ha ganado una excelente reputación por ofrecer paquetes de viaje de alta calidad y personalizados..</p>
                    </div>
                </figure>
            </article>
            
        </section>
    </main>
    <br>
    <footer id="footer">
        <h4 style="color: darkblue;">Horarios de Atencion: 8hrs a 17hrs</h4> &nbsp;
        <h4 style="color: blue;">Telefono: 011 456 45556</h4> &nbsp;
        <h4 style="color: blue;">contact@turismoviajes.com</h4>
     </footer> 
</body>
</html>

