<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes</title>
    <link rel="icon" type="image/x-icon" href="img/travel.ico">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/boton.css">
    <link rel="stylesheet" href="css/moveralcarrito.css"
        
</head>
<body background="img/Fondo.jpg">
  <header>
        <div class="menu-inicio">
          <h1>Turismo Viajes</h1>
                <ul>
                    <li><a href="viajes.html">Viajes</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="recomendaciones.html">Recomendaciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
          </div>
        </header>
<main>
      <div class="viajes">
        <div class="cancun">
          <h2><b>CANCUN</b></h2>
          <h3 style="color: rgb(7, 4, 17);">Reserva ya! Tu viaje al carible, "Cancun te espera!"(VUELO INCLUIDO)</h3>
          <h4>Elije tu pension</h4>  
          <div class="contenedor">
            <div class="item">
              <li>Media pension - 3 dias - $2000  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(0)">Agregar al carrito</button></li>
            </div>
            <div class="item">
              <li>Pension completa -- 3 dias - $3500  <button class="boton-estilo2" onclick="addToCart(1)">Agregar al carrito</button></li>
            </div>
            <div class="item">
              <li>Media pension - 7 dias - $4000  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(2)">Agregar al carrito</button></li>
            </div>
            <div class="item">
              <li>Pension completa -- 7 dias - $6500  <button class="boton-estilo2" onclick="addToCart(3)">Agregar al carrito</button></li>
            </div>
          

            <h4>Extras y excursiones</h4>
            <div class="item">
              <li>Crucero "Islas Mujeres" - $750 &nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(4)">Agregar al carrito</button></li>
            </div>  
            <div class="item">
              <li>Submarino en Cozumel - $1250 <button class="boton-estilo2" onclick="addToCart(5)">Agregar al carrito</button></li>
            </div> 
            <div class="item">
              <li>Buceo por los arrecifes - $400 &nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(6)">Agregar al carrito</button></li>
            </div> 
            <div class="item">
              <li>Paseo nocturno (fiestas) - $600 &nbsp;<button class="boton-estilo2" onclick="addToCart(7)">Agregar al carrito</button></li>
            </div>
            <br>
            <div class="item">

              <br>
              <li><b>ALLINCLUSIVE!! </b>(TODO) <br></br>Todo incluido, sin limites. No te preocupes mas - $8.500,00
                <button class="boton-estilo" onclick="addToCart(8)">Agregar al carrito</button></li>
            </div>
            <div class="itemboton">
              <p style="padding-left: 0.2em;"><b>Termina tu compra!</b></p>
              
              <a href="#fondo" class="boton-estilo-carrito" >Ir al carrito</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div> 
          <br>
            <section class="carrusel">
              <img src="img/Viajes/Cancun/cancun1.jpg">        
              <img src="img/Viajes/Cancun/cancun2.jpg">
              <img src="img/Viajes/Cancun/cancun3.jpg">
              <img src="img/Viajes/Cancun/cancun4.jpg">
              <img src="img/Viajes/Cancun/cancun5.jpg">
            </section> 
          </div> 
          <div class="separador"></div> 
            <div class="cataratas">
              
              <h2><b>CATARATAS DEL IGUAZÚ</b></h2>
              <h3 style="color: rgb(7, 4, 17);">Visita mendoza, disfruta de la selva y naturaleza (Vuelo Incluido)</h3>
              <h4>Elije tu pension</h4> 
              <div class="contenedor">
                <div class="item">
                  <li>Media pension - 3 dias - $1000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(9)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Pension completa -- 3 dias - $1750<button class="boton-estilo2" onclick="addToCart(10)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Media pension - 7 dias - $2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(11)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Pension completa -- 7 dias - $3250<button class="boton-estilo2" onclick="addToCart(12)">Agregar al carrito</button></li>
                </div>

                <h4>Extras y excursiones</h4>
                <div class="item">
                  <li>Paseo Parque Nacional Cataratas - $250 &nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(14)">Agregar al carrito</button></li>
                </div>  
                <div class="item">
                  <li>Visita ciudad del este - $300 <button class="boton-estilo2" onclick="addToCart(15)">Agregar al carrito</button></li>
                </div> 
                <div class="item">
                  <li>Visita represa Itaipú - $280 &nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(16)">Agregar al carrito</button></li>
                </div> 
                <br>
                <div class="item">
                  <br>
                  <li><b>ALLINCLUSIVE!! </b>(TODO) <br></br>Todo incluido, sin limites. No te preocupes mas - $5.000,00
                    <button class="boton-estilo" onclick="addToCart(19)">Agregar al carrito</button></li>
                </div>
                <div class="itemboton">
                  <p style="padding-left: 0.2em;"><b>Termina tu compra!</b></p>
                  
                  <a href="#fondo" class="boton-estilo-carrito">Ir al carrito</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </div> 
              <br>
                <section class="carrusel">
                  <img src="img/Viajes/Cataratasdeliguazu/cataratasiguazu1.jpg">        
                  <img src="img/Viajes/Cataratasdeliguazu/cataratasiguazu2.jpg">
                  <img src="img/Viajes/Cataratasdeliguazu/cataratasiguazu3.jpg">
                  <img src="img/Viajes/Cataratasdeliguazu/cataratasiguazu4.jpg">
                  <img src="img/Viajes/Cataratasdeliguazu/cataratasiguazu5.jpg">  
                </section>   
          </div>
          <div class="separador"></div>
        <div class="mendoza"> 
          <h2><b>MENDOZA</b></h2>
              <h3 style="color: rgb(7, 4, 17);">Visita mendoza, disfruta de montañas y vino (Vuelo Incluido)</h3>
              <h4>Elije tu pension</h4> 
              <div class="contenedor">
                <div class="item">
                  <li>Media pension - 3 dias - $750&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(18)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Pension completa -- 3 dias - $1200<button class="boton-estilo2" onclick="addToCart(19)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Media pension - 7 dias - $2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(20)">Agregar al carrito</button></li>
                </div>
                <div class="item">
                  <li>Pension completa -- 7 dias - $3500<button class="boton-estilo2" onclick="addToCart(21)">Agregar al carrito</button></li>
                </div>

                <h4>Extras y excursiones</h4>
                <div class="item">
                  <li>Ruta del vino de Mendoza - $750 &nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(22)">Agregar al carrito</button></li>
                </div>  
                <div class="item">
                  <li>Parque Prov. Aconcagua - $1350 <button class="boton-estilo2" onclick="addToCart(23)">Agregar al carrito</button></li>
                </div> 
                <div class="item">
                  <li>Conoce el puente del Inca - $400 &nbsp;&nbsp;&nbsp;<button class="boton-estilo2" onclick="addToCart(24)">Agregar al carrito</button></li>
                </div> 
                <br>
                <div class="item">
                  <br>
                  <li><b>ALLINCLUSIVE!! </b>(TODO) <br></br>Todo incluido, sin limites. No te preocupes mas - $4.500,00
                    <button class="boton-estilo" onclick="addToCart(25)">Agregar al carrito</button></li>
                </div>
                <div class="itemboton">
                  <p style="padding-left: 0.2em;"><b>Termina tu compra!</b></p>
                  
                  <a href="#fondo" class="boton-estilo-carrito">Ir al carrito</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </div> 
         </div>
        
              <br>  
                
        <section class="carrusel">
              <img src="img/Viajes/Mendoza/mendoza1.jpg">        
              <img src="img/Viajes/Mendoza/mendoza2.jpg">
              <img src="img/Viajes/Mendoza/mendoza3.jpg">
              <img src="img/Viajes/Mendoza/mendoza4.jpg">
              <img src="img/Viajes/Mendoza/mendoza5.jpg">
          </section> 
        </div>    
              
      
    <div class="fincompra">
      <h2 style="color:rgb(49, 0, 88);">Total de la compra</h2>
      <td>
        <div id="items-list">
            <!-- Aquí se mostrarán los artículos que se añadan al carrito -->
        </div>
          <hr>
          <div>
            <h3>Total: <span id="total-price">0</span></h3>
            <button id="checkout-button">Comprar</button>
          </div>
          <br>

    </div>
</main>
<p id="fondo"></p>
<footer>
  <h4 style="color: darkblue;">Horarios de Atencion: 8hrs a 17hrs</h4> &nbsp;
  <h4 style="color: blue;">Telefono: 011 456 45556</h4> &nbsp;
  <h4 style="color: blue;">contact@turismoviajes.com</h4>
</footer> 

<script src="js/carritodecompras.js"></script>
</body>
</html>